body {
    font-family: 'Albert Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.logo {
    width: 50px;
    height: 50px;
}

.logo:hover {
    animation-name: mover-logo;
    animation-duration: 2.5s;
}

@keyframes mover-logo {
    0% {
        transform: translate(0px);
    }
    50% {
        transform: translate(180px) rotateY(180deg);
        
    }
    100% {
        transform: translate(0px);
    }
}

/* INDEX */

.banner {
    display: flex;
    justify-self: center;
    width: 100%;
}

.viajes {
    margin: 0 3rem;
}

.viajes__1, .viajes__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #EAEBED;
}

.ir-a-destino {
    text-decoration: none;
}

.paises {
    width: 90%;
    border-width: medium;
    border-style: hidden;
    border-radius: 20px;
    box-shadow: 7px 7px 30px #363636;
    margin: 3rem;
    background-color: #fafafa;
    transition: 0.5s;
}

.paises:hover {
    transform: scale(1.1);
}

.paises-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.paises-text {
    text-align-last: center;
    color: #000000;
}

/* DESTINOS */

.destinos-main {
    margin: 0 3rem;
    background-color: #EAEBED;
}

.destinos-titulo {
    margin: 0;
    padding: 1rem
}

.destinos-pais {
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.ciudades {
    padding: 0 0.5rem;
    margin: 0 1rem;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

::-webkit-scrollbar {
    height: 1rem;
}

::-webkit-scrollbar-track {
    background: #EAEBED;
    border-radius: 100vw;
    margin-inline: 1.2rem;
}

::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #919191;
}

.tarjeta {
    margin: 1.25rem;
    text-align: center;
    background-color: #fafafa;
    border-radius: 30px;
    width: 30vw;
    box-shadow: 2px 2px 15px #363636;
}

.tarjeta-img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
}

.ciudad-text {
    font-size: smaller;
    margin: 0.5rem;
}

/* LOCALES */

.locales-main {
    margin: 0 3rem;
    background-color: #EAEBED;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.locales-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border-radius: 30px;
    background-color: #dfdfdf;
    box-shadow: 5px 5px 10px #363636;
}

.locales-mapa {
    min-width: 200px;
    width: 70%;
    max-width: 400px;
    height: 17.5rem;
    margin: 1rem 0;
    border-radius: 10%;
}

.locales-text {
    text-align: center;
    padding: 0.7rem;
}

/*  NOSOTROS */

.nosotros-section {
    margin: 0 3rem;
    padding: 0.8rem;
    background-color: #EAEBED;
}

.nosotros-datos {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.nosotros-titulo {
    margin: 0;
    padding: 0.7rem;
}

.nosotros-historia{
    padding: 0.8rem;
    align-self: center;
    border-radius: 20px;
    background-color: #fafafa;
    box-shadow: 5px 5px 10px #363636;
}

.nosotros-avion{
    display: none;
    width: 100%;
    align-self: center;
    justify-self: center;
}

.nosotros-foto {
    width: 70%;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
    background-color: #fafafa;
    box-shadow: 5px 5px 10px #363636;
    padding: 1.5rem;
}

.nosotros-somos{
    padding: 0.8rem;
    align-self: center;
    border-radius: 20px;
    background-color: #fafafa;
    box-shadow: 5px 5px 10px #363636;
}

.nosotros-avion-rulo {
    display: none;
    width: 80%;
    max-width: 425px;
    align-self: center;
    justify-self: center;
}

.nosotros-objetivos{
    padding: 0.7rem;
    height: auto;
    border-radius: 20px;
    background-color: #fafafa;
    box-shadow: 5px 5px 10px #363636;
}

.nosotros-avion-arriba {
    display: none;
    width: 300px;
    align-self: center;
    justify-self: center;
}

.nosotros-ellos {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.nosotros-avion-largo {
    display: none;
    width: 80%;
    max-width: 480px;
    padding: 1rem;
    align-self: center;
    justify-self: flex-start;
}

.nosotros-flecha {
    display: none;
}

.opiniones-total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjeta-opiniones {
    width: auto;
    max-width: 230px;
    background: #fafafa;
    margin: 1rem;
    border-radius: 35px;
    box-shadow: 5px 5px 10px #363636;
}

.tarjeta-perfil {
    display: flex;
    margin: 0 1rem;
}

.tarjeta-foto {
    width: 50px;
    margin: 0.2rem 0 0 0;
    border-radius: 100%;
}

.tarjeta-nombre {
    margin: 0.8rem 0 0 1rem;
}

.tarjeta-texto {
    margin: 0 0.1rem 0.8rem 0.7rem;
    font-size: medium;
    align-self: center;
}

/* CONTACTO */

.contacto-main {
margin: 0 3rem;
}

.contacto-section {
    padding: 0 1rem;
    background-color: #EAEBED;
}

.contacto-hdos {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 2.5rem;
}

.contacto-puno {
    display: flex;
    justify-content: center;
    text-align: center;
}

.label {
    font-weight: bold;
    padding: 0.7rem;
}

.div-correo, .div-nombre, .div-asunto, .div-texto, .div-boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

.contacto-chico {
    font-size: 18px;
    width: 90%;
    padding: 0.25rem 0.7rem;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
}

.contacto-texto {
    font-size: 18px;
    width: 90%;
    height: 405px;
    padding: 0.7rem;
    border-style: solid;
    border-radius: 20px;
}

.contacto-boton {
    color: black;
    background-color: #fc5050;
    font-size: 18px;
    padding: 0.25rem 5rem;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 15px;
    box-shadow: 3px 3px 10px;
    transition: 0.2s;
    transition-timing-function: ease-out;
}

.contacto-boton:hover {
    transform: scale(1.2);
}

.contacto-pdos {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 1.25rem 0 2.5rem 1.5rem;
}

/* FOOTER */

.pie {
    background-color: #c52e2e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 90px;
}

.pie__h3 {
    font-size: 130%;
    color: #fafafa;
    margin: 0.5rem;
}

.redes {
    margin-bottom: 1rem;
    text-align: center;
    width: 30%;
}

.pagos {
    text-align: center;
    width: 30%;
}

.atencion {
    margin-top: 1rem;
    text-align: center;
    width: 30%;
}

.wpp {
    display: flex;
    justify-content: center;
}

.hs {
    align-self: center;
}

.logospie {
    filter: invert(100);
    margin: 0.2rem;
    width: 35px;
    transition: 0.2s;
}
.logospie:hover {
    transform: scale(1.3);
}





@media (min-width:768px) {

    /* INDEX 768PX */

    .viajes {
        margin: 0 6rem;
    }

    .paises {
        width: auto;
        border-width: medium;
        border-style: hidden;
        border-radius: 20px;
        box-shadow: 7px 7px 30px #363636;
        margin: 1.5rem;
        background-color: #fafafa;
    }

    /* DESTINOS 768 PX */

    .destinos-main {
        margin: 0 6rem;
    }

    .ciudad-text {
        font-size: medium;
        margin: 0.5rem;
    }
    

    /* LOCALES 768PX */

    .locales-main {
        margin: 0 6rem;
    }

    /* NOSOTROS 768PX */

    .nosotros-section {
        margin: 0 6rem;
    }
    
    .nosotros-datos {
        display: grid;
        grid-template-rows: repeat(7, 1fr);
    }
    
    .nosotros-titulo {
        margin: 0;
        padding: 0.7rem;
    }
    
    .nosotros-historia{
        padding: 0.7rem;
        align-self: center;
        border-radius: 20px;
        background-color: #fafafa;
        box-shadow: 5px 5px 10px #363636;
    }
    
    .nosotros-avion{
        display: grid;
        width: 40%;
        align-self: center;
        justify-self: center;
    }
    
    .nosotros-foto {
        width: 45%;
        border-radius: 100%;
        align-self: center;
        justify-self: center;
        background-color: #fafafa;
        box-shadow: 5px 5px 10px #363636;
        padding: 2rem;
    }
    
    .nosotros-somos{
        margin: 0;
        padding: 0.7rem;
        align-self: center;
        border-radius: 20px;
        background-color: #fafafa;
        box-shadow: 5px 5px 10px #363636;
    }
    
    .nosotros-avion-rulo {
        display: none;
        width: 80%;
        max-width: 425px;
        align-self: center;
        justify-self: center;
    }
    
    .nosotros-objetivos{
        padding: 0.7rem;
        align-self: center;
        border-radius: 20px;
        background-color: #fafafa;
        box-shadow: 5px 5px 10px #363636;
    }
    
    .nosotros-avion-arriba {
        display: grid;
        grid-row: 5;
        width: 300px;
        align-self: center;
        justify-self: center;
    }
    
    .nosotros-ellos {
        display: flex;
        justify-content: center;
    }
    
    .nosotros-avion-largo {
        display: none;
        width: 80%;
        max-width: 480px;
        padding: 1rem;
        align-self: center;
        justify-self: flex-start;
    }
    
    .nosotros-flecha {
        display: grid;
        grid-row: 7;
        margin-top: 1.5rem;
        width: 160px;
        justify-self: center;
        align-self: center;
    }
    
    .opiniones-total {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .tarjeta-opiniones {
        width: auto;
        max-width: 230px;
        background: #fafafa;
        margin: 0.8rem;
        border-radius: 35px;
        box-shadow: 5px 5px 10px #363636;
    }
    
    .tarjeta-perfil {
        display: flex;
        margin: 0 1rem;
    }
    
    .tarjeta-foto {
        width: 50px;
        margin: 0.3rem 0 0 0;
        border-radius: 100%;
    }
    
    .tarjeta-nombre {
        margin-left: 1rem;
    }
    
    .tarjeta-texto {
        margin: 0 0.2rem 0.8rem 0.6rem;
        font-size: small;
        align-self: center;
    }

    /* CONTACTO 768PX */

    .contacto-main {
        margin: 0 6rem;
        }

    .contacto-chico {
        width: 400px;
    }

    /* FOOTER 768PX */ 

    .pie {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        min-height: 90px;
    }

    .redes {
        padding-left: 0.7rem;
        text-align: center;
        width: 30%;
    }

    .atencion {
        padding-right: 0.7rem;
        text-align: center;
        width: 30%;
    }
}





@media (min-width:1024px) {

    /* INDEX 1024PX */

    .viajes {
        margin: 0 11rem;
    }

    .tarjeta {
        margin: 1.25rem;
        text-align: center;
        background-color: #fafafa;
        border-radius: 40px;
        width: 23vw;
        box-shadow: 2px 2px 20px #363636;
    }

    /* DESTINOS 1024PX */

    .destinos-main {
        margin: 0 11rem;
    }

    .ciudad-text {
        font-size: large;
        margin: 0.5rem;
    }
    

    /* LOCALES 1024PX */

    .locales-main {
        margin: 0 11rem;
    }

    .locales-div {
        display: flex;
        flex-direction: row;
        margin: 1.5rem;
        border-radius: 30px;
        background-color: #dfdfdf;
        box-shadow: 5px 5px 10px #363636;
    }

    .locales-mapa {
        width: 80%;
        max-width: 450px;
        padding: 1.5rem;
        border-radius: 30px;
    }

    .locales-text {
        text-align: start;
    }

    /* NOSOTROS 1024PX */

    .nosotros-section {
        margin: 0 11rem;
    }
    
    .nosotros-datos {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(6, 1fr);
    }
    
    
    .nosotros-historia{
        padding: 0.7rem;
        grid-column: 1/4;
        grid-row: 1/3;
        align-self: center;
        border-radius: 20px;
        background-color: #fafafa;
        box-shadow: 5px 5px 10px #363636;
    }
    
    .nosotros-avion{
        width: 90%;
        grid-column: 4;
        grid-row: 2/4;
        align-self: center;
        justify-self: center;
    }
    
    .nosotros-foto {
        width: 100%;
        border-radius: 100%;
        grid-column: 1;
        grid-row: 3/5;
        align-self: center;
        justify-self: center;
        background-color: #fafafa;
        box-shadow: 5px 5px 10px #363636;
        padding: 1.5rem;
    }
    
    .nosotros-somos{
        margin-left: 2.5rem;
        padding: 0.7rem;
        grid-column: 2/4;
        grid-row: 3/5;
        align-self: center;
        border-radius: 20px;
        background-color: #fafafa;
        box-shadow: 5px 5px 10px #363636;
    }
    
    .nosotros-avion-rulo {
        width: 80%;
        max-width: 425px;
        grid-column: 2/4;
        grid-row: 5;
        align-self: center;
        justify-self: center;
    }
    
    .nosotros-objetivos{
        padding: 0.7rem;
        grid-column: 1/4;
        grid-row: 5/6;
        align-self: center;
        border-radius: 20px;
        background-color: #fafafa;
        box-shadow: 5px 5px 10px #363636;
    }
    
    .nosotros-avion-arriba {
        width: 300px;
        grid-column: 4;
        grid-row: 5/7;
        align-self: center;
        justify-self: center;
    }
    
    .nosotros-avion-largo {
        display: grid;
        width: 80%;
        max-width: 480px;
        padding: 1rem;
        grid-column: 1/3;
        grid-row: 6;
        align-self: center;
        justify-self: flex-start;
    }
    
    .nosotros-flecha {
        margin-top: 1.25rem;
        width: 95px;
        grid-column: 3/4;
        grid-row: 6/7;
        justify-self: flex-start;
    }
    
    .tarjeta-opiniones {
        width: 25%;
        max-width: 230px;
        background: #fafafa;
        margin: 0.7rem;
        border-radius: 35px;
        box-shadow: 5px 5px 10px #363636;
    }

    /* CONTACTO 1024PX */

    .contacto-main {
        margin: 0 11rem;
        }

    .contacto-chico {
        width: 70%;
    }
}