.banner {
    display: flex;
    justify-self: center;
    width: 100%;
}

.viajes {
    margin: 0 3rem;
    &__cards {
        background-color: #EAEBED;
    }
}

@media (min-width:768px) {
    .viajes {
        margin: 0 6rem;
    }
}

@media (min-width:992px) {
    .viajes {
        margin: 0 11rem;
    }
}