.banner {
    display: flex;
    justify-self: center;
    width: 100%;
}

.viajes {
    margin: 0 3rem;
    &__cards {
        background-color: #EAEBED;
    }
    @include responsive-medium {
        margin: 0 6rem;
    }
    @include responsive-large {
        margin: 0 11rem;
    }
}