.locales {
    margin: 0 3rem;
    background-color: #EAEBED;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    &__mapa {
        min-width: 200px;
        width: 70%;
        max-width: 400px;
        height: 17.5rem;
        margin: 1rem 0;
        border-radius: 10%;
    }
    &__text {
        text-align: center;
        padding: 0.7rem;
    }
    @include responsive-medium {
        margin: 0 6rem;
    }
    @include responsive-large {
        margin: 0 11rem;
        &__tarjeta {
            display: flex;
            flex-direction: row;
            margin: 1.5rem;
        }
        &__mapa {
            width: 80%;
            max-width: 450px;
            padding: 1.5rem;
            border-radius: 30px;
        }
        &__text {
            text-align: start;
        }
    }
}